body{
  overflow-x: hidden;
  padding:0;
  margin:0;
  
}

.logo{
 margin:0 auto;

  
}

.slider-caption{
  position:absolute;

  right:150px;

}

.about{
  background:#eef6f8;
  
}

.houses{
 
  vertical-align: bottom;

  
}

footer{
  background:#0099cc;
  color:#fff;
  line-height:1.5em;
  padding:20px;
  
  a{
    color:#fff;
    
  }
  
}